docs/build/about.html
docs/build/fastsum.html
docs/build/Flags.html
docs/build/index.html
docs/build/NFCT.html
docs/build/NFFT.html
docs/build/NFST.html
docs/build/notation.html
docs/build/search.html
docs/build/search_index.js
docs/build/assets/documenter.js
docs/build/assets/search.js
docs/build/assets/themeswap.js
docs/build/assets/themes/documenter-dark.css
docs/build/assets/themes/documenter-light.css
.vscode/settings.json
